<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Kingdom Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="c:/users/sikud/downloads/the-kingdom-template/css/index.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a href="/" class="navbar-brand font-weight-bold">
                <i class="fas fa-crown"></i>
                THE KINGDOM
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navBar">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse collapse" id="navBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            ABOUT US
                        </a>
                        <div class="dropdown-menu">
                            <a href="/our-story" class="dropdown-item">
                                Our Story
                            </a>
                            <a href="/work-here" class="dropdown-item">
                                Work Here!
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/menu" class="nav-link">
                            MENU
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gallery" class="nav-link">
                            GALLERY
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="/contact" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            CONTACT
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                Contact Us
                            </a>
                            <a href="/work-here" class="dropdown-item">
                                Work Here!
                            </a>
                            <a href="/plan-party" class="dropdown-item">
                                Plan Your Party
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-in" class="nav-link">
                            SIGN IN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-up" class="nav-link btn btn-danger btn-sm">
                            SIGN UP!
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="jumbotron text-center mt-5">
            <h1 class="font-weight-bold">EVENTS</h1>
            <p class="font-weight-bold">Check Out Upcoming Events At The Kingdom</p>
        </div>
        <div class="row align-items-center" style="margin: 0 auto;">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h4 class="card-header font-weight-bold">Rattleluce</h4>
                    <img src="/site-images/the-kingdom-logo.png" height="200"
                        class="card-img-top">
                    <h6 class="card-title font-weight-bold">Feb 22</h6>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">
                            Rattleluce Is Back To Rock The House Again! Make Sure To Get Here Early For Awesome Specials And Limited Seating!!!!
                        </p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <h4 class="card-header font-weight-bold">
                        Spent, <br> We Love You, <br> & Tuesday Atlas
                    </h4>
                    <img src="/site-images/the-kingdom-logo.png" height="200"
                        class="card-img-top">
                    <h6 class="card-title font-weight-bold">Feb 22</h6>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">
                            Spent(Indianapolis, IN)
                            <br>
                            We Love You(Marion, IN)
                            <br>
                            Tuesday Atlas(FortWayne, IN)
                            <br>
                            ID For Craft Beer & Wine
                            <br>
                            All Ages
                            <br>
                            Cover Is $5
                            <br>
                            Bring Your Friends Out
                        </p>
                    </div>
                </div>
                <br>
                <div class="card">
                    <h4 class="card-header font-weight-bold">United States Blues Band</h4>
                    <img src="/site-images/us-blues-band.jpg" height="200"
                        class="card-img-top">
                    <h6 class="card-title font-weight-bold">Mar 7</h6>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">
                            United States Blues Band Performing Live With Visual Projections!! Show Starts At 7pm. $5 Cover Charge.
                        </p>
                    </div>
                </div>
                <br>
                <div class="card mt-3">
                    <h4 class="card-header font-weight-bold">C.W. LEWIS</h4>
                    <img src="/site-images/cw-lewis.jpg"
                        class="card-img-top" height="200">
                    <h6 class="font-weight-bold card-title">MAR 14</h6>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">
                            C.W. LEWIS w/ Drake Alan, Rudy Valdez, And Ryan Kerr Will Be Performing At The Kingdom Venue
                            On
                            March 14th. Come For A Night Of Great Local Music At The Kingdom Venue. The Show Will Begin
                            At 8PM
                            And End At 12AM. This Event Is Hosted by LifeTone Co. Booking & Productions and The Kingdom
                            venue.
                            Must Have A Valid ID For Drinks.
                        </p>
                    </div>
                </div>
                <br>
                <div class="card mt-3">
                    <h4 class="card-header font-weight-bold">The Kingdom Welcomes Mike Milligan And Steam Shovel</h4>
                    <img src="/site-images/mike-milligan.jpg"
                        class="card-img-top" height="200">
                    <h6 class="font-weight-bold card-title">Apr 4</h6>
                    <div class="card-body">
                        <p class="card-text font-weight-bold">
                            $5 general admission @ the door. Get there EARLY!
                            Mike Milligan and Steam Shovel is an Original, Powerful, Soulful group from Kokomo, Indiana, United States, formed in 1993, comprised of, Mike Milligan (guitar/vocals) and Shaun Milligan (bass), and Robert "Tiny" Cook (drums/vocals). They Celebrated 25 TWENTY FIVE! Years of touring and recording in 2018!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
</body>

</html>