<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>The Kingdom Gallery</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h3 class="font-weight-bold">The Kingdom Gallery</h3>
                <p class="font-weight-bold">Check Out Our Gallery Of Pictures And Videos</p>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <h3 class="card-header">1-24-20 Music</h3>
                        <img class="card-img-top" src="/site-images/live-music-kingdom.png">
                        <div class="card-body">
                            <p class="card-text font-weight-bold">
                                Rudy Valdez Had The House Rocking With Some Amazing Live Music This January.
                                Come Out To The Kingdom To See More!
                            </p>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="card">
                        <h3 class="card-header">Team</h3>
                        <img class="card-img-top" src="/site-images/the-kingdom-work.jpg">
                        <div class="card-body">
                            <p class="card-text font-weight-bold">
                                Our Staff Is Already Ready To Serve You. Get The Best Service In Town At The Kingdom Venue.
                                If You Are Interested In Working Here, Fill Out An Application Today.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="card">
                        <h3 class="card-header">Live Music</h3>
                        <video class=" card-img-top video-js vjs-big-play-centered vjs-default-skin vjs-16-9" autopreload="true" 
                                        data-setup='{"controls": true, "autoplay": false}'>
                            <source src="/site-images/the-kingdom-video-1.mp4" type="video/mp4">
                        </video>
                        <div class="card-body">
                            <p class="card-text font-weight-bold">
                                Here This Amazing Band And More At The Kingdom.
                                Also Remember To Create A Profile And View The 
                                Profiles Of Your Favorite Artists At The Kingdom Venue.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="card">
                        <h3 class="card-header">Live Music</h3>
                        <video class="card-img-top video-js vjs-big-play-centered vjs-default-skin vjs-16-9" data-setup='{"controls": true, "autoplay": false}'>
                            <source src="/site-images/the-kingdom-video-3.mp4" type="video/mp4">
                        </video>
                        <div class="card-body">
                            <p class="card-text font-weight-bold">
                                Check Out Rudy Valdez Touching Us All With Some Amazing Music.
                                Be Sure To Follow His Band On The Website!
                            </p>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="card">
                        <h3 class="card-header">Wine Lovers</h3>
                        <img class="card-img-top" src="/site-images/wine-lover.png">
                        <div class="card-body">
                            <p class="card-text font-weight-bold">
                                Are You A Wine Lover? The Kingdom Venue Has An Amazing
                                Selection Of Wine Just For You.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <div class="card">
                        <h3 class="card-header">Live Music</h3>
                        <video class="card-img-top video-js vjs-16-9 vjs-default-skin vjs-big-play-centered" data-setup='{"controls": true, "autoplay": false}'>
                            <source src="/site-images/the-kingdom-video-4.mp4" type="video/mp4">
                        </video>
                        <div class="card-body">
                            <p class="card-text font-weight-bold">
                                Come Support The Local Artists And Have A Great Time At The Kingdom Venue!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
        <script src="/javascript/contact.js"></script>
    </body>
</html>