<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Our Story</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="c:/users/sikud/downloads/the-kingdom-template/css/index.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a href="/" class="navbar-brand font-weight-bold">
                <i class="fas fa-crown"></i>
                THE KINGDOM
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navBar">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse collapse" id="navBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            ABOUT US
                        </a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                Our Story
                            </a>
                            <a href="/work-here" class="dropdown-item">
                                Work Here!
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/menu" class="nav-link">
                            MENU
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gallery" class="nav-link">
                            GALLERY
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            CONTACT
                        </a>
                        <div class="dropdown-menu">
                            <a href="/contact" class="dropdown-item">
                                Contact Us
                            </a>
                            <a href="/work-here" class="dropdown-item">
                                Work Here!
                            </a>
                            <a href="/plan-party" class="dropdown-item">
                                Plan Your Party
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-in" class="nav-link">
                            SIGN IN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-up" class="nav-link btn btn-danger btn-sm">
                            SIGN UP!
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <img class="mt-5 img-fluid w-100" src="/site-images/bar-photo.png"
            height="400">
        <div class="jumbotron text-center">
            <h2 class="font-weight-bold">ABOUT US</h2>
        </div>
        <div class="row text-center">
            <p class="font-weight-bold ml-2 mr-2">
                The Kingdom is Marion's new, all-in-one entertainment venue, cafe lounge, and food/beverage bar working
                to bring people under the umbrella of great taste, great music, and great times. The Kingdom seeks to
                support local artists, and to serve our patrons, and community, locally crafted food, beer and wine. We
                are located next to the Historic Mississenewa River, a few blocks from Historic Downtown Marion.
            </p>
        </div>
        <hr>
        <br>
        <div class="text-center">
            <h2 class="font-weight-bold text-center">Live Music</h2>
            <div class="card" style="max-width: 16rem; margin:0 auto;">
                <img class="card-img-top" src="/site-images/live-music-kingdom.png" height="200">
                <p class="font-weight-bold">We Offer Great Shows And Support Our Local Artists. If You Are A Music Lover You'll Love Our Venue</p>
            </div>
        </div>
        <hr>
        <br>
        <div class="text-center mt-3">
            <h2 class="font-weight-bold text-center">Great Food</h2>
            <div class="card" style="max-width: 16rem; margin:0 auto;">
                <img class="card-img-top" src="/site-images/hot-pastrami.jpg">
                <p class="font-weight-bold">
                    We Offer Some Of The Best Food In Town. We Bring The Big City Taste To The Small Town.
                </p>
            </div>
        </div>
        <hr>
        <br>
        <div class="text-center mt-3">
            <h2 class="font-weight-bold text-center">Great Drinks</h2>
            <div class="card" style="max-width: 16rem; margin:0 auto;">
                <img class="card-img-top" src="/site-images/m43-beer.jpg">
                <p class="font-weight-bold">
                    We We Offer A Wide Variety Of Drafts, Bottles, Wine And Non-Alcoholic Beverages. We Have
                    Whatever You Need To Quench Your Thirst After A Long Day.
                </p>
            </div>
        </div>
        <hr>
        <br>
        <div class="text-center mt-3">
            <h2 class="font-weight-bold text-center">Celebrations</h2>
            <div class="card" style="max-width: 16rem; margin:0 auto;">
                <img class="card-img-top" src="/site-images/the-kingdom-floor.png">
                <p class="font-weight-bold">
                    Throwing A Party Or Celebration? The Kingdom Is A Perfect Place To Rent Out When You Have A Big Event Going On.
                    <a href="#" class="text-danger">CONTACT US</a> To See About Renting Our Place Out For Your Celebration.
                </p>
            </div>
        </div>
        <hr>
        <br>
        <div class="text-center mt-3">
            <h2 class="font-weight-bold text-center">Relax & Chill</h2>
            <div class="card" style="max-width: 16rem; margin:0 auto;">
                <img class="card-img-top" src="/site-images/the-kingdom-relaxation.png">
                <p class="font-weight-bold">
                    Just Want A Nice Place To Relax And Chill With Friends? Our Shop Is The Perfect Place To Get Some Relaxation, Food, 
                    And Read A Good Book.
                </p>
            </div>
        </div>
        <hr>
        <br>
        <div class="text-center mt-3">
            <h2 class="font-weight-bold text-center">Delivery</h2>
            <div class="card" style="max-width: 16rem; margin:0 auto;">
                <img class="card-img-top" src="/site-images/delivery-vec.png">
                <p class="font-weight-bold">
                    Want Some Great Food But Can't Make It Out? Don't Worry. Use Our Web App To Make An Order And We Will Deliver
                    To Your Doorsteps.
                </p>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
</body>

</html>