<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Kingdom Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="c:/users/sikud/downloads/the-kingdom-template/css/index.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a href="/" class="navbar-brand font-weight-bold">
                <i class="fas fa-crown"></i>
                THE KINGDOM
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navBar">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse collapse" id="navBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            ABOUT US
                        </a>
                        <div class="dropdown-menu">
                            <a href="/our-story" class="dropdown-item">
                                Our Story
                            </a>
                            <a href="#" class="dropdown-item">
                                Work Here!
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/menu" class="nav-link">
                            MENU
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/gallery" class="nav-link">
                            GALLERY
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            CONTACT
                        </a>
                        <div class="dropdown-menu">
                            <a href="/contact" class="dropdown-item">
                                Contact Us
                            </a>
                            <a href="/work-here" class="dropdown-item">
                                Work Here!
                            </a>
                            <a href="/plan-party" class="dropdown-item">
                                Plan Your Party
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-in" class="nav-link">
                            SIGN IN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/sign-up" class="nav-link btn btn-danger btn-sm">
                            SIGN UP!
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <img class="mt-5 img-fluid w-100" src="/site-images/the-kingdom-work.jpg">
        <div class="jumbotron text-center">
            <h2 class="font-weight-bold">WORK HERE</h2>
        </div>
        <div class="row text-center">
            <p class="font-weight-bold">
                We Have A Growing Team And A Fresh New Business. We Are Always Looking For New Talent. If You Want To Be Apart Of A Fun,
                Friendly, And Exciting Team Come Join Us. Fill Out The Form Below And We Will Reach Out To You.
            </p>
            <form style="margin:0 auto;" id="application-form" method="POST" action="/handle-application" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" id="first-name" name="firstName" class="form-control" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="last-name" placeholder="Last Name" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" placeholder="City" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="state">State</label>
                                <input type="text" name="state" class="form-control" placeholder="State" required> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="zip">Zip</label>
                            <input type="text" name="zip" class="form-control" placeholder="Zip" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name='address' placeholder="Address" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-file">
                            <label class="custom-file-label">Resume</label>
                            <input type="file" class="custom-file-input" name="resume" id="resume" required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-dark btn-block" id="submitBtn">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
        <script src="/javascript/work-here.js"></script>
</body>
</html>